{% extends "basis.html" %}
{% block inhalt %}
<form method="get" class="parameter">
    <label>Historische Monate
        <select name="gewinn_verlust_monate" onchange="this.form.submit()">
            {% for wert in gewinn_verlust_optionen %}
            <option value="{{ wert }}" {{ "selected" if wert == gewinn_verlust_monate }}>{{ "alle" if wert == "alle" else wert ~ " Monate" }}</option>
            {% endfor %}
        </select>
    </label>
    <label>Prognosehorizont
        <select name="horizont_monate" onchange="this.form.submit()">
            {% for wert in horizont_optionen %}
            <option value="{{ wert }}" {{ "selected" if wert == horizont_monate }}>{{ wert }} Monate</option>
            {% endfor %}
        </select>
    </label>
</form>
{{ gewinn_verlust_monatlich | safe }}
{{ gewinn_verlust_je_jahr | safe }}
{{ umsatzrendite_kumuliert | safe }}
{% endblock %}
