{% extends "basis.html" %}
{% block kopf %}
<meta http-equiv="refresh" content="2">
{% endblock %}
{% block inhalt %}
<p class="ladehinweis">
    Die Daten werden im Hintergrund geladen - diese Seite aktualisiert sich alle paar
    Sekunden von selbst. <a href="{{ request.url.path }}{{ anfrage_query }}">Jetzt neu laden</a>
</p>
{% if fortschritt %}
<ul class="fortschritt">
    {% for zeile in fortschritt %}
    <li>{{ zeile }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if fehler %}
<p class="fehler">Der letzte Ladeversuch ist fehlgeschlagen: {{ fehler }}<br>Ein neuer Versuch läuft automatisch beim nächsten Neuladen dieser Seite.</p>
{% endif %}
{% endblock %}
