.env
.google_oauth_token.json
.DS_Store
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.coverage
coverage.xml
htmlcov/
.tox/

# Tooling-Caches
.pytest_cache/
.ruff_cache/

# Notebooks
.ipynb_checkpoints/
tmp.ipynb

# Export
/diagramme/